/* Цвет фона #FFFFFF */
/* Основной цвет заголовков #212121*/
/* Цвет текста #757575 */
/* Цвет акцета #2196F3 */


/* Переменные  */
:root{
  --background-color:#FFFFFF;
  --primary-tittle-color:#212121;
  --secondary-text-color:#757575;
  --accent-color-button:#2196F3;
  --logo-color:#000000;
  --main-font:font-family: 'Roboto', sans-serif;
}

body{
  background-color: var(--background-color);
  font-family: var--(main-font);
}
 /* Component */
.link{
  text-decoration: none;
  text-transform: none;
}
.list{
  list-style: none;
}
.address{
text-transform: normal;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
/* color: #FFFFFF; */
}


/* Шапка меню */
/* Логотип */
/* .link > span{
color:var(--accent-color-button);
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
} */
.link.logo{
color:var(--accent-color-button);
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.nav .logo-accent{
color:var(--logo-color);
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}
/* Контакты в шапке */

.list .link{
color:var(--primary-tittle-color);
}

.list .link:hover,
.list .link:focus{
  color:var(--accent-color-button)
}

/* Hero */
.hero-title{
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
/* color: #FFFFFF; */
}

.hero-button{

font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.87;
text-align: center;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
background: var(--accent-color-button);
color:#FFFFFF;
border: 0px;
cursor: pointer;
width: 200px;
height: 50px;
left: 700px;
top: 430px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

/* Список особенностей */
.list .list-features{
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-tittle-color);
}

.list .list-text{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.74 ;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}

/* Секция 2 */
.service{
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-tittle-color);
}

/* Секция Наша команда  */

.list .list-title{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color:var(--primary-tittle-color);
}

.list .list-item{
font-style: normal;
font-weight: normal;
font-size: 1.18;
line-height: 19px;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}

/* Футер */
.footer>link logo{
  font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--accent-color-button);

}


.footer .logo-accent{

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #FFFFFF;
}